<nav class="navbar-expand-mb fw-bold border-bottom mb-3" style="background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a href="/home" class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">Home</a>
            </li>
            <li class="nav-item">
                <a href="/portfolio" class="nav-link text-secondary" routerLink="/portfolio"
                    routerLinkActive="text-dark">Portfolio</a>
            </li>
            <li class="nav-item">
                <a href="/resume" class="nav-link text-secondary" routerLink="/resume"
                    routerLinkActive="text-dark">Resume</a>
            </li>
            <li class="nav-item">
                <a href="/weather" class="nav-link text-secondary" routerLink="/contact"
                    routerLinkActive="text-dark">Weather</a>
            </li>
        </ul>
    </div>
</nav>